.deals-overview-wrapper {
  .deals-overview-summary-card {
    background: #fff;
    &.columns {
      margin-left: 0;
      margin-right: 0;
      // &.is-multiline {
      //   flex-wrap: nowrap;
      // }
    }
    .summary-card-container {
      .s-card-advanced {
        background: #f1f8fb;
        .container-heading {
          color: #888787;
        }
      }
      &.column {
        &.is-2 {
          flex: auto;
        }
      }
    }
  }
  // .deals-overview-summary-card {
  //   .card-body {
  //     .summary-card-container {
  //       width: 200px;
  //       height: 118px;
  //       border-radius: 8px;
  //       background: #f1f8fb;
  //       padding-left: 18px;
  //       padding-bottom: 33px;
  //       padding-top: 27px;
  //       display: flex;
  //       flex-direction: column;
  //       gap: 5px;
  //       .container-heading {
  //         color: #888787;
  //       }
  //     }
  //   }
  // }
  .deals-overview-details-card {
    .services-search-container {
      width: 152px;
      height: 32px;
      margin-bottom: 20px;
    }
    .service-containers {
      display: flex;
      gap: 20px;
      .card-container {
        width: 191px;
        .s-card-advanced {
          margin-bottom: 4px;
        }
        .card-header {
          border: 1px solid #ddd;
          border-radius: 8px 8px 0px 0px;
          padding: 8px;

          color: #ffffff;
        }
        .card-subheader {
          border-left: 1px solid #ddd;
          border-right: 1px solid #ddd;
          background: #ecfcf4;
          display: flex;
          justify-content: space-between;
          padding: 8px;
        }
        .cards {
          .service-card-top {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            .service-name {
              font-size: 14px;
              font-weight: 600;
            }
          }
          .service-card-middle {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            .service-amount {
              font-size: 12px;
              font-weight: 600;
            }
            .service-number-of-tasks {
              font-size: 12px;
              font-weight: 600;
              color: #888787;
            }
          }
          .service-card-bottom {
            display: flex;
            flex-direction: column;
            gap: 5px;
            .service-task-assigned-to {
              color: #00a353;
              font-size: 12px;
              font-weight: 600;
            }
            .service-task-due-days {
              font-size: 12px;
              font-weight: 600;
              color: #888787;
            }
          }
        }
      }
    }
    .kanban-board-container {
      .kanban-column-container {
        border: 0;
      }
      .kanban-task-container {
        border-radius: 8px;
      }
      .card-header {
        border: 1px solid #ddd;
        border-radius: 8px 8px 0px 0px;
        padding: 8px;

        color: #ffffff;
      }
      .card-subheader {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        background: #ecfcf4;
        display: flex;
        justify-content: space-between;
        padding: 8px;
      }
      .cards {
        .service-card-top {
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px;
          .service-name {
            font-size: 14px;
            font-weight: 600;
          }
        }
        .service-card-middle {
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px;
          .service-amount {
            font-size: 12px;
            font-weight: 600;
          }
          .service-number-of-tasks {
            font-size: 12px;
            font-weight: 600;
            color: #888787;
          }
        }
        .service-card-bottom {
          display: flex;
          flex-direction: column;
          gap: 5px;
          .service-task-assigned-to {
            color: #00a353;
            font-size: 12px;
            font-weight: 600;
          }
          .service-task-due-days {
            font-size: 12px;
            font-weight: 600;
            color: #888787;
          }
        }
      }
    }
  }
}
