.contact-management-wrapper {
  .status-label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    color: #ffffff;
    border-radius: 4px;
    width: 62px;
    height: 28px;
  }
}
