.contact-management-meeting-wrapper {
  height: 592px;
  overflow-y: auto;
  overflow-x: hidden;
  .meeting-accordian-container {
    border-bottom: 2px solid #ddd;
    .collapse {
      margin-bottom: 0px;
      border: 0px;
      &.is-active {
        background: #ecfcf4;
      }
      .collapse-header {
        .accordian-header-left-container {
          display: flex;
          gap: 8px;
          align-items: center;
        }
        .accordian-header-middle-container {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5px;
          .call-duration {
            color: #0071ca;
          }
        }
        .accordian-header-right-container {
          .accordian-header-right {
            color: #888787;
            font-size: 14px;
            font-weight: 400;
          }
        }
      }
    }
  }
}

.contact-management-meeting-wrapper::-webkit-scrollbar {
  width: 8px;
}
.contact-management-meeting-wrapper::-webkit-scrollbar-thumb {
  background: #00a353;
  border-radius: 10px;
}
.contact-management-meeting-wrapper::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 10px;
}
