.contact-management-activity-wrapper {
  .s-card-advanced {
    .contact-management-activity-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    }
    .activity-accordian-container {
      border-bottom: 2px solid #ddd;
      .collapse {
        margin-bottom: 0px;
        border: 0px;
        &.is-active {
          background: #ecfcf4;
        }
        .collapse-header {
          .accordian-header-left-container {
            display: flex;
            gap: 8px;
            align-items: center;
          }
          .accordian-header-right-container {
            .accordian-header-right {
              color: #888787;
              font-size: 14px;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}
