.transaction-edit-component {
  border: 1px solid $font-grey-dark;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  height: 100%;
  width: 1000px;
  background-color: #ffffff;
  padding: 30px;

  .letter-header-component {
    width: 100%;
    outline: none;
    .header-edit {
      // height: 200px;
      border: 1px solid $font-grey-dark;
      position: relative;
    }

    .canvas-action-buttons {
      display: flex;
      flex-direction: column;
      .letter-header-font-tools {
        .font-tool-btns {
          .color-picker-btn {
            height: 40px;
            width: 40px;
          }
        }
      }
    }
  }
}
