.transaction-edit-component {
  border: 1px solid $font-grey-dark;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  height: 100%;
  width: 1000px;
  background-color: #ffffff;
  padding: 30px;

  .letter-header-component {
    width: 100%;
    outline: none;

    .header-edit-container {
      position: relative;
      .canvas-container {
        margin: 0 auto;
      }
    }
    .header-edit-active {
      border: 1px solid $font-grey-dark;
      .header-edit-icon {
        display: none;
      }
    }
    .header-edit-inactive {
      border: 1px dashed transparent;
      border-radius: 4px;
      .header-edit-icon {
        position: absolute;
        opacity: 0;
        right: 0;
        margin-top: 3px;
        margin-right: 3px;
      }
      &:hover {
        border-color: darken($font-grey-dark, 15%);
        .header-edit-icon {
          opacity: 1;
        }
      }
    }

    .canvas-action-buttons {
      display: flex;
      flex-direction: column;
      .letter-header-font-tools {
        .font-tool-btns {
          .has-addons {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  //Tranasction form row
  .transaction-from-row {
    display: flex;
  }
}
