.dashboard-invoice-expense-card {
  .dashboard-invoice-expense-tab-wrapper {
    .invoice-tab-header {
      align-items: center;
      justify-content: space-between;
      .toggle-chart-btn {
        border: 0.5px solid #dddddd;
        background: #ebf5ff;
        display: flex;
        justify-content: flex-end;
      }
    }
    .donut-chart-wrapper {
      min-height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      .invoice-chart {
        .ct-bar {
          stroke-width: 40;
        }

        .Open,
        .ct-bar:nth-child(1) {
          stroke: rgb(239, 71, 111);
        }

        .Paid,
        .ct-bar:nth-child(2) {
          stroke: rgb(255, 209, 102);
        }

        .Canceled,
        .ct-bar:nth-child(3) {
          stroke: rgb(17, 138, 178);
        }
      }
      .expense-chart {
        .ct-bar {
          stroke-width: 40;
        }

        .Paid,
        .ct-bar:nth-child(1) {
          stroke: rgb(255, 209, 102);
        }

        .Canceled,
        .ct-bar:nth-child(2) {
          stroke: rgb(17, 138, 178);
        }
      }
    }
    .value-categories {
      .column {
        display: flex;
      }
      .value-category-text {
        font-weight: 600;
        font-size: 14px;
        color: #63c2cd;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
      }
      .value-category-dot {
        height: 14px;
        min-width: 14px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 10px;
        background-color: rgb(17, 138, 178);
      }
    }
  }
}

.dashboard-invoice-expense-card {
  li {
    width: 206px;
  }
}
