.contact-management-activity-wrapper {
  .collapse {
    .collapse-header {
      .accordian-header-left-container {
        display: flex;
        gap: 8px;
        align-items: center;
      }
    }
  }
}
