.pdf-viewer-main {
  .pdf-viewer-no-data-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 644px;
    font-size: 20px;
  }
  .pdf-viewer-loading-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 644px;
    font-size: 20px;
  }
}
