.editable-indicator-div {
  border: 1px dashed transparent;
  position: relative;
  border-radius: 4px;
  .icon-class {
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    margin-top: 3px;
    margin-right: 3px;
  }

  &:hover {
    border-color: darken($font-grey-dark, 15%);
    .icon-class {
      opacity: 1;
    }
  }
}
