#email-verification-otp-form,
#mobile-verification-form,
#mobile-otp-verification-form {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }

  input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
  }
}

.otp-input:focus {
  box-shadow: inset 0 -3px 0 #00a353;
}
